<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Basic information</h3>
<p>Name: Firman Hadi Prayoga</p>
<p>Birthdate & birthplace: **REDACTED**, Indonesia</p>
<p>Address: Jl **REDACTED** </p>
<br/>
<p>Hello, I'm a college student at Faculty of Computer Science, Universitas Indonesia.
I'm also alive. I'm also a human if you are interested.</p>
<p th:if="${visitor}" th:text="${visitor} + ', I hope you interested to hire me.'" >
<p th:unless="${visitor}" th:text="'This is my CV.'" >
</body>
</html>
